@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "media";

.header {
    position: relative;
    height: 100vh;
}
.header__slider {
    &-item {
        height: 100vh;
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}
.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
}
.slider-item__info-title {
    font-size: 80px;
    line-height: 86px;
    font-weight: 800;
    margin-bottom: 48px;
}
.slider-item__info-suptitle {
    margin-bottom: 5px;
}
.slider-item__info-suptext {
    margin-bottom: 8px;
}
.slider-item__info-text {
    font-size: 40px;
    line-height: 46px;
    font-weight: 800;
    margin-bottom: 20px;
}
.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}
.slider-arrows-left {
    right: 125px;
}
.slider-dotshead {
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current {
        .dots-box {
            border-top-color: $green;
        }
    }
}
.dots-box {
    width: 200px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #ffffff;
    padding-top: 6px;
    &__number {
        font-size: 24px;
        line-height: 34px;
        font-weight: 800;
    }
    &__name {
        font-weight: 300;
        line-height: 19px;
        text-transform: capitalize;
    }
}

.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#ffffff, 0.25);
    height: 100vh;
    text-align: center;
}
.header__title {
    font-size: 200px;
    line-height: 156px;
    font-weight: 800;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.menu {
    padding-top: 40px;
    a {
        span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 37px;
            text-transform: capitalize;
        }
    }
}
.header__date {
    font-size: 72px;
    line-height: 64px;
    font-weight: 800;
    span {
        display: block;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 1.4;
        padding-top: 15px;
    }
}
.header__search {
    padding-top: 15px;
    padding-bottom: 35px;
}
.header__location {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 19px;
    text-transform: capitalize;
    &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 13px;
        top: 0;
        left: 0;
        background-image: url(../images/marker.svg);
    }
}
.header__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.header__arrows {
    position: absolute;
    bottom: 30px;
    z-index: 3;
    left: 209px;
}
.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animDash 4s infinite 6s;
}

@keyframes animDash {
    to {
        stroke-dashoffset: 0;
    }
}

.surf {
    background-image: url(../images/surf-bg.png);
    background-position: top 200px right;
    background-repeat: no-repeat;
    background-size: auto;

    &__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
}
.surf-slider {
    padding-top: 110px;
    .slider-arrows {
        top: 50px;
        opacity: 0.25;
    }
    .slick-slide:nth-child(4n + 1) {
        .surf-box {
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3) {
        .surf-box {
            margin-top: 89px;
        }
    }

    .slick-current {
        .surf-box__inner {
            background: rgba(#1c2121, 0.3);
        }
        .surf-box__inner-btn {
            display: block;
        }
    }
}
.surf-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: calc(100% + 40px) !important;
    &__inner {
        min-height: 750px;
        background: rgba(#1c2121, 0.85);
        position: relative;
        transition: all 0.5s;
        &:hover {
            background: rgba(#1c2121, 0.3);
            .surf-box__inner-btn {
                display: block;
            }
        }
    }
}
.surf-box__inner-title {
    padding: 72px 0 0 40px;
    font-size: 40px;
    line-height: 36px;
    font-weight: 800;
    width: 140px;
}
.surf-box__inner-location {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 80px;
    left: 40px;
    height: 0;
    width: 0;
    white-space: nowrap;
    span {
        font-weight: 100;
    }
}
.surf-box__inner-btn {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../images/world-map-dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-slide {
        min-height: 635px;
    }
    .slick-current {
        .slider-dots__content {
            display: block;
            width: 285px;
            padding: 28px 32px 0 32px;
        }
    }
}
.slider-dots__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}

.slider-dots__content-link {
    padding-top: 5px;
    img {
        width: 16px;
        height: 14px;
    }
}
.slider-dots__content-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    &::before {
        content: "";
        width: 80px;
        height: 1px;
        background-color: $green;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.slider-dots__content-subtitle {
    line-height: 19px;
    text-transform: capitalize;
    font-size: 16px;
}
.slider-dots__content-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}
.slider-dots__content-number {
    margin-top: 7px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 800;
}
.slider-dots__content-name {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
}

.slider-dots__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $green;
}
.slider-dots__content {
    display: none;
    background-color: rgba(#0f1010, 0.7);
    border-radius: 6px;
    position: absolute;
    bottom: 44px;
    transform: translateX(-47%);
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-radius: 0 0 10px 10px;
        bottom: -28.5px;
        left: 47%;
    }
}

.slider-dots {
    position: relative;
    &--1 {
        top: 330px;
        left: 0;
        .slider-dots__content {
            transform: translateX(0);
            &::before {
                left: 0;
            }
        }
    }
    &--2 {
        top: 290px;
        left: -15px;
        .slider-dots__circle {
            position: relative;
            &::before {
                content: "";
                background-image: url(../images/mini-marker.png);
                width: 14px;
                height: 17px;
                position: absolute;
                top: -24px;
                left: 32px;
                background-size: cover;
            }
        }
    }
    &--3 {
        top: 318px;
        left: 40px;
    }
    &--4 {
        top: 500px;
        left: -34px;
    }
    &--5 {
        top: 212px;
        left: -70px;
    }
    &--6 {
        top: 555px;
        left: -112px;
    }
    &--7 {
        top: 395px;
        left: -100px;
    }
    &--8 {
        top: 501px;
        left: 40px;
        .slider-dots__content {
            transform: translateX(-65%);
            &::before {
                left: 185px;
            }
        }
    }
}

.holder {
    background-image: url(../images/travel-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    &.sleep {
        background-image: url(../images/frangipani.png);
    }
    .slider-arrows {
        opacity: 0.25;
        top: 225px;
    }
}
.holder-slider {
    &__head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }
    &__descr {
        margin-top: -230px;
        padding: 160px 0 0 132px;
        min-height: 320px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        padding-bottom: 100px;
    }
    .descr__head {
        position: relative;
        padding-right: 78px;
        &.descr__head-sleep {
            padding-right: 174px;
        }
        img {
            position: absolute;
            right: 0;
            top: 0;
        }
        .holder__star-list {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            height: 100%;
            gap: 11px;
            img {
                position: static;
                filter: drop-shadow(0 0 16px rgba($green, 0.54));
            }
        }
    }

    &__subtitle {
        text-align: right;
        padding: 132px 80px 0 0;
    }
    &__btn {
        text-align: center;
    }
}
.holder-slider__info {
    display: flex;
    justify-content: space-around;
    &-item {
        min-height: 200px;
        margin-bottom: 66px;
        position: relative;
    }

    &-title {
        font-size: 40px;
        line-height: 36px;
        font-weight: 800;
        padding-left: 40px;
        position: relative;
        .holder-pricing__span {
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 5.25px;
            opacity: 0.75;
            font-weight: 400;
            position: absolute;
            right: 0;
            bottom: -32px;
        }
    }
    &-subtitle {
        position: absolute;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        transform: rotate(-90deg);
        opacity: 0.5;
        top: 96px;
        left: -96px;
        width: 200px;
        height: 0;
        white-space: nowrap;
        text-align: right;
    }
}

.shop {
    background-image: url(../images/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;

    .slider-arrows {
        opacity: 0.25;
        top: 160px;
    }
}
.shop__slider {
    padding: 160px 0 0 132px;
}
.shop__slider-inner {
    display: flex;
}
.shop__slider-info {
    max-width: 480px;
    margin-right: 40px;
    width: 100%;
    padding-top: 150px;
}
.descr__head-shop {
    max-width: 340px;
    margin-bottom: 47px;
}
.shop__star-list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 11px;
    margin-bottom: 9px;
    img {
        position: static;
        filter: drop-shadow(0 0 16px rgba($green, 0.54));
    }
}
.shop__slider-price {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 64px;
    sup {
        font-size: 18px;
        padding-left: 5px;
    }
}

.shop__slider-content {
    padding-left: 60px;
    display: flex;
    align-items: flex-end;
}

.shop__extras {
    padding-left: 150px;
}

.shop__extras-inner {
    display: flex;
}

.shop__extras-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 25px;
}

.shop__extras-box {
    text-align: center;
    margin-right: 57px;
}
.shop__extras-img {
    min-height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.shop__extras-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    margin-bottom: 16px;
}

.shop__extras-price {
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
}

.surfboard {
    position: relative;
}
.surfboard-box {
    position: absolute;
}

.surfboard__position--1 {
    top: 206px;
    left: 176px;
}

.surfboard__position--2 {
    top: 295px;
    left: -5px;
}

.surfboard__position--3 {
    bottom: 65px;
    left: 53px;

    .surfboard-box__content {
        padding-left: 0;
        padding-right: 104px;
        left: -377px;
        &::before {
            content: "";
            background-color: #fff;
            opacity: 0.5;
            width: 80px;
            height: 1px;
            position: absolute;
            top: 50%;
            right: 0;
            left: auto;
        }
    }
}

.surfboard-box__circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &.active {
        .circle-row {
            transform: translate(-50%, -50%);
        }
        .surfboard-box__content {
            display: block;
        }
    }
}

.circle-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 2px;
    background-color: $green;
    & + .circle-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.surfboard-box__content {
    display: none;
    position: absolute;
    width: 359px;
    padding-left: 104px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    left: 28px;
    top: -15px;
    &::before {
        content: "";
        background-color: #fff;
        opacity: 0.5;
        width: 80px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
    }
}
